<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>M | Test Task</title>
    <link rel="stylesheet" href="../../css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#show-sign-up-button").click(function () {
                $("#show-sign-up-form").animate({left: '17%'}, "fast");
                $("#show-sign-up-form").fadeIn("slow");
                $(".hide-login-form").fadeOut("slow");
            });

            $("#show-login-button").click(function () {
                $("#show-login-form").animate({right: '17%'}, "fast");
                $("#show-login-form").fadeIn("slow");
                $("#show-sign-up-form").fadeOut("slow");
            });

            $(".type-email").on("input", function () {
                var value = $(this).val();

                if (value)
                    $("#mail-icon").attr("src", "../../images/mail-icon-active.png");
            });

            $(".type-password").on("input", function () {
                var value = $(this).val();

                if (value)
                    $("#lock-icon").attr("src", "../../images/lock-icon-active.png");
            });

            $(".sign-up-type-name").on("input", function () {
                var value = $(this).val();

                if (value)
                    $("#sign-up-user-icon").attr("src", "../../images/user-icon-active.png");
            });

            $(".sign-up-type-email").on("input", function () {
                var value = $(this).val();

                if (value)
                    $("#sign-up-mail-icon").attr("src", "../../images/mail-icon-active.png");
            });

            $(".sign-up-type-password").on("input", function () {
                var value = $(this).val();

                if (value)
                    $("#sign-up-lock-icon").attr("src", "../../images/lock-icon-active.png");
            });
        });
        document.addEventListener("DOMContentLoaded", function () {
            let passwordInput = document.getElementById("sign-up-password");
            let letter = document.getElementById("letter");
            let capital = document.getElementById("capital");
            let number = document.getElementById("number");
            let length = document.getElementById("length");

            passwordInput.onfocus = function () {
                document.getElementById("message").style.display = "block";
            };

            passwordInput.onblur = function () {
                document.getElementById("message").style.display = "none";
            };

            passwordInput.onkeyup = function () {

                let lowerCaseLetters = /[a-z]/g;
                if (passwordInput.value.match(lowerCaseLetters)) {
                    letter.classList.remove("invalid");
                    letter.classList.add("valid");
                } else {
                    letter.classList.remove("valid");
                    letter.classList.add("invalid");
                }

                let upperCaseLetters = /[A-Z]/g;
                if (passwordInput.value.match(upperCaseLetters)) {
                    capital.classList.remove("invalid");
                    capital.classList.add("valid");
                } else {
                    capital.classList.remove("valid");
                    capital.classList.add("invalid");
                }

                let numbers = /[0-9]/g;
                if (passwordInput.value.match(numbers)) {
                    number.classList.remove("invalid");
                    number.classList.add("valid");
                } else {
                    number.classList.remove("valid");
                    number.classList.add("invalid");
                }

                if (passwordInput.value.length >= 8) {
                    length.classList.remove("invalid");
                    length.classList.add("valid");
                } else {
                    length.classList.remove("valid");
                    length.classList.add("invalid");
                }
            }
        });
    </script>
</head>
<body>

<section class="sign-up-login-container">
    <section class="no-account-text">
        <h4 class="title">Don't have an account?</h4>
        <hr/>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.
        </p>
        <button id="show-sign-up-button" class="description-button hide-login-button" type="button">SIGN UP</button>
    </section>

    <section class="account-text">
        <h4 class="title">Have an account?</h4>
        <hr/>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button id="show-login-button" class="description-button" type="button">LOGIN</button>
    </section>
</section>

<section id="show-login-form" class="login-form-container hide-login-form">
    <div class="login-form">
        <div class="title-logo-container">
            <div class="title-container">
                <h4 class="title">Login</h4>
            </div>
            <div class="logo">
                <img src="../../images/logo.png" alt="logo image"/>
            </div>
        </div>
        <hr class="email"/>
        <form method="POST" action="/profile">
            <div>
                <div class="label-container">
                    <label for="login-email">Email<span class="required">*</span></label>
                </div>
                <div class="icon-container">
                    <img id="mail-icon" src="../../images/mail-icon.png" alt="mail icon image"/>
                </div>
            </div>

            <input id="login-email" type="email" name="email" class="type-email input-email" required><br>

            <div>
                <div class="label-container">
                    <label for="login-password">Password<span class="required">*</span></label>
                </div>
                <div class="icon-container">
                    <img id="lock-icon" src="../../images/lock-icon.png" alt="lock icon image"/>
                </div>
            </div>

            <input type="password" id="login-password" name="password" class="type-password" required> <br><br>
            <div>
                <div class="label-container">
                    <button class="form-button" type="submit">LOGIN</button>
                </div>
                <div class="forgot-container">
                    <p id="forgot">Forgot?</p>
                </div>
            </div>
        </form>
    </div>
</section>

<section id="show-sign-up-form" class="sign-up-container">
    <div class="sign-up-form">
        <div class="title-logo-container">
            <div class="title-container">
                <h4 class="title">Sign Up</h4>
            </div>
            <div class="logo">
                <img src="../../images/logo.png" alt="logo image"/>
            </div>
        </div>
        <hr class="email"/>
        <form method="post" action="/">
            <div>
                <div class="label-container">
                    <label for="name">Name<span class="required">*</span></label>
                </div>
                <div class="icon-container">
                    <img id="sign-up-user-icon" src="../../images/user-icon.png" alt="user icon image"/>
                </div>
                <input type="text" id="name" name="name" class="sign-up-type-name" required><br>
            </div>
            <div>
                <div class="label-container">
                    <label for="sign-up-email">Email<span class="required">*</span></label>
                </div>
                <div class="icon-container">
                    <img id="sign-up-mail-icon" src="../../images/mail-icon.png" alt="mail icon image"/>
                </div>
            </div>
            <input id="sign-up-email" type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                   class="sign-up-type-email input-email" required><br>
            <div>
                <div class="label-container">
                    <label for="sign-up-password">Password<span class="required">*</span></label>
                </div>
                <div class="icon-container">
                    <img id="sign-up-lock-icon" src="../../images/lock-icon.png" alt="lock icon image"/>
                </div>
            </div>
            <input type="password" id="sign-up-password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                   class="sign-up-type-password" required><br><br>
            <div id="message">
                <p>Password must contain the following:
                    <span id="letter" class="invalid"><b>lowercase</b> letter;</span>
                    <span id="capital" class="invalid"><b>capital (uppercase)</b> letter;</span>
                    <span id="number" class="invalid"><b>number</b>;</span>
                    <span id="length" class="invalid">min <b>8 characters</b></span>
                </p>
            </div>
            <div>
                <div class="label-container">
                    <button class="form-button" type="submit" name="submit">SIGN UP</button>
                </div>
            </div>
        </form>
    </div>
</section>
<footer class="footer">
    <p>all rights reserved "magebit" 2020.</p>
</footer>
</body>
</html>
